@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import url('https://fonts.googleapis.com/css?family=Rambla:400,400i,700,700i&subset=latin-ext');

$gray: #eeeff5;
$gray2: #f3f4f8;
$gray3: #d3d5de;
$purple: rgba(42, 34, 77, 0.60);
$purple2: rgba(84, 66, 130, 0.26);
$purple3: #60558f;
$purple4: #78747f;
$purple5: #2f1a4b;
$red: #ed5e74;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url('../img/background.png') 50% 50% / cover no-repeat;
  font-family: 'Rambla', sans-serif;
}

.transition {
  transition: all 0.3s ease;
}
.player-playlist {
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $gray2;
  z-index: 100;
  .playlist-header {
    height: 70px;
    width: 100%;
    position: relative;
    .back-button {
      height: 35px;
      width: 35px;
      border-radius: 100%;
      background: white;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 30px;
      cursor: pointer;
      @extend .transition;
      &:hover {
        box-shadow: 0px 0px 10px rgba(52, 37, 89, 0.27);
      }
    }
    h5 {
      color:#60558f;
      margin: 0;
      font-weight: 600;
    }
  }
}

.playlist-overflow {
  height: 382px;
  overflow: hidden;
  position: relative;
  &:hover {
    .vue-scrollbar__scrollbar-horizontal, .vue-scrollbar__scrollbar-vertical {
      opacity: 1;
    }
  }
  .vue-scrollbar__scrollbar-vertical {
    width: 10px;
    height: 100%;
    top: 0;
    right: 0;
  }
  .vue-scrollbar__scrollbar-horizontal, .vue-scrollbar__scrollbar-vertical {
    opacity: .1;
    position: absolute;
    background: transparent;
    right: 18px;
  }
  .vue-scrollbar-transition, .vue-scrollbar__scrollbar-horizontal, .vue-scrollbar__scrollbar-vertical {
    transition: all .5s ease;
  }
  .vue-scrollbar__scrollbar-horizontal .scrollbar, .vue-scrollbar__scrollbar-vertical .scrollbar {
    position: relative;
    background: rgba(0,0,0,.5);
    cursor: default;
  }
  .vue-scrollbar__scrollbar-vertical .scrollbar {
    background: rgb(42, 34, 77);
    width: 7px;
    border-radius: 11px;
    height: 70px !important;
  }
  .vue-scrollbar-transition, .vue-scrollbar__scrollbar-horizontal, .vue-scrollbar__scrollbar-vertical {
    transition: all .5s ease;
  }
  &:after {
    height: 60px;
    width: 100%;
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    background: rgba(30, 87, 153, 0);
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 1%, #f3f4f8 73%, #f3f4f8 89%);
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 1%, #f3f4f8 73%, #f3f4f8 89%);
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 1%, #f3f4f8 73%, #f3f4f8 89%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f3f4f8',GradientType=0 );
  }
}
.playlist-box {
  padding-left: 28px;
  padding-right: 54px;

  .playlist-line {
    height: 78px;
    border-bottom: 1px solid $gray3;
  }
  .playlist-track-info {
    font-size: 12px;
    color:$purple4;
    cursor: pointer;
  }
  .playlist-track-title {
    font-size: 16px;
    color:$purple5;
    line-height: 16px;
    cursor: pointer;
  }
  i {
    font-size: 12px;
    @extend .transition;
    backface-visibility: hidden;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    &:first-of-type {
      margin-right: 10px;
    }
  }
  i:not(.fa-heart) {
    color:$purple3;
  }
  i.fa-heart {
    color:$red;
  }
}
.player-container {
  width: 360px;
  height: 482px;
  position: relative;
  background: $gray;
  margin-top: 150px;
  border-radius: 30px;
  overflow: hidden;
  .player-header {
    height: 334px;
    width: 100%;
    position: relative;
    background: url('../img/default_cover.png') 50% top / cover no-repeat;
    &:before {
      top: 0;
      left: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $purple2;
    }
    .player-header-nav, .player-header-title {
      height: 65px;
      width: 100%;
      background: $purple;
      position: relative;
      z-index: 2;
    }
    .player-header-nav {
      .player-header-button {
        cursor: pointer;
        color:#fff;
        @extend .transition;
        transform: scale(1);
        &:hover {
          transform: scale(.9);
        }
        &:not(.player-menu) {
          margin: 0 12px;
        }
        &.player-menu {
          position: absolute;
          right: 20px;
          opacity: .3;
          @extend .transition;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .player-header-title {
      position: absolute;
      left: 0;
      text-align: center;
      color: #fff;
      bottom: 0;
      h5, p {
        margin-top: 0;
        margin-bottom: 0;
      }
      h5 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .player-duration-bar {
    height: 7px;
    width: 100%;
    background: $red;
    position: relative;
    .player-sound-icon {
      width: 22px;
      height: 22px;
      background: white;
      border-radius: 100%;
      position: absolute;
      top: -7px;
      cursor: pointer;
      color:$purple3;
      font-size: 10px;
      left: 247px;
      @extend .transition;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.63);
      &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
      }
      z-index: 4;
    }
    .player-duration {
      position: absolute;
      height: 100%;
      left: 0;
      width: 70%;
      background: white;
      top: 0;
    }
  }
  .player-navigation {
    padding-left: 21px;
    padding-right: 21px;
    height: 135px;
  }
  .player-button {
    color:#fff;
    cursor: pointer;
    @extend .transition;
    &.fav {
      i {
        color:$red !important;
      }
    }
    &:hover {
      box-shadow: 0px 0px 10px rgba(52, 37, 89, 0.27);
    }
    &.default {
      width: 36px;
      height: 36px;
      background: white;
      i {
        color:$purple3;
      }
      &.purple {
        background: $purple3;
        i {
          color:white;
        }
      }
    }
    &.big {
      width: 56px;
      height: 56px;
      background: $purple3;
      border:3px solid $gray;
      position: relative;
      i {
        z-index: 10;
      }
      .circle {
        position: absolute;
        top: -6px;
        left: -7px;
      }
    }
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  .player-buttons {
    .player-button {
      margin: 0 5px;
    }
  }
}