<template>
    <div class="container d-flex justify-content-center">
        <div class="player-container">
            <div class="player-playlist" v-if="playlist">
                <div class="playlist-header d-flex justify-content-center align-items-center">
                    <div v-on:click="togglePlaylist()"
                         class="back-button d-flex justify-content-center align-items-center"><img
                            src="img/icons/back.png" alt=""></div>
                    <h5>Playlist</h5>
                </div>
                <vue-scrollbar classes="playlist-overflow" ref="Scrollbar">
                    <div class="playlist-box">
                        <div v-for="(track, index) in tracks" class="playlist-line d-flex justify-content-between align-items-center">
                            <div  v-on:click="switchTrack(track.title)">
                                <div class="playlist-track-info">{{track.duration}} | {{track.author}}</div>
                                <div class="playlist-track-title">{{track.title}}</div>
                            </div>
                            <div>
                                <i class="fas fa-share-alt"></i>
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </vue-scrollbar>
            </div>
            <div class="player-header">
                <div class="player-header-nav d-flex justify-content-center align-items-center">
                    <div class="player-header-button"><img src="img/icons/repeat.png" alt=""></div>
                    <div class="player-header-button"><i class="fas fa-random"></i></div>
                    <div class="player-header-button"><i class="fas fa-redo"></i></div>
                    <div class="player-header-button player-menu" v-on:click="togglePlaylist()"><i
                            class="fas fa-bars"></i></div>
                </div>
                <div class="player-header-title d-flex justify-content-center align-items-center flex-column">
                    <h5 class="player-music-author">{{activeTrack.author}}</h5>
                    <p class="player-music-title">{{activeTrack.title}}</p>
                </div>
            </div>
            <div class="player-duration-bar">
                <div class="player-sound-icon d-flex justify-content-center align-items-center flex-column"><i
                        class="fas fa-volume-up"></i></div>
                <div class="player-duration"></div>
            </div>
            <div class="player-navigation d-flex justify-content-between align-items-center">
                <div class="button_box">
                    <div class="player-button default"><i class="fas fa-share-alt"></i></div>
                </div>
                <div class="button_box player-buttons d-flex justify-content-between align-items-center">
                    <div class="player-button purple default" v-on:click="prevTrack()"><i
                            class="fas fa-step-backward"></i></div>

                    <div class="player-button purple big">
                        <vue-circle
                                :progress="50"
                                :size="63"
                                :reverse="false"
                                line-cap="round"
                                :fill="fill"
                                empty-fill="#fff"
                                :animation-start-value="0.0"
                                :start-angle="4.8"
                                insert-mode="append"
                                :thickness="5"
                                :show-percent="false"
                                @vue-circle-progress="progress"
                                @vue-circle-end="progress_end">
                        </vue-circle>
                        <i v-if="!play" class="fas fa-play" v-on:click="playSound()"></i>
                        <i v-if="play" class="fas fa-pause" v-on:click="playSound()"></i>
                    </div>
                    <div class="player-button purple default" v-on:click="nextTrack()"><i
                            class="fas fa-step-forward"></i></div>
                </div>
                <div class="button_box">
                    <div class="player-button default fav"><i class="fas fa-heart"></i></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueCircle from 'vue2-circle-progress';
    import VueScrollbar from 'vue2-scrollbar';

    export default {
        components: {
            VueCircle,VueScrollbar
        },
        data() {
            return {
                size: 63,
                fill: {color: "#d3d5de"},
                play: false,
                playlist: false,
                tracks: [
                    {
                        title: "Still Don't Know",
                        author: "Icona Pop",
                        duration: "3:16",
                        active: true,
                    },
                    {
                        title: "I love It",
                        author: "Icona Pop",
                        duration: "2:35",
                        active: false,
                    },
                    {
                        title: "GirlFriend",
                        author: "Icona Pop",
                        duration: "2:50",
                        active: false,
                    },
                    {
                        title: "We Got the World",
                        author: "Icona Pop",
                        duration: "3:07",
                        active: false,
                    },
                    {
                        title: "Nights Like This",
                        author: "Icona Pop",
                        duration: "3:24",
                        active: false,
                    },
                    {
                        title: "Still Don't Know",
                        author: "Icona Pop",
                        duration: "3:16",
                        active: true,
                    },
                    {
                        title: "I love It",
                        author: "Icona Pop",
                        duration: "2:35",
                        active: false,
                    },
                    {
                        title: "GirlFriend",
                        author: "Icona Pop",
                        duration: "2:50",
                        active: false,
                    },
                    {
                        title: "We Got the World",
                        author: "Icona Pop",
                        duration: "3:07",
                        active: false,
                    },
                    {
                        title: "Nights Like This",
                        author: "Icona Pop",
                        duration: "3:24",
                        active: false,
                    }
                ]
            }
        },
        computed: {
            activeTrack: function () {
                return _.find(this.tracks, {active: true});
            }
        },
        methods: {
            switchTrack: function(title) {
                var self = this;
                var active_index = _.findIndex(self.tracks, {active: true});
                var index = _.findIndex(self.tracks, {title: title});
                self.tracks[active_index].active = false;
                self.tracks[index].active = true;
                self.togglePlaylist();
            },
            togglePlaylist: function () {
                if (this.playlist) {
                    this.playlist = false;
                } else {
                    this.playlist = true;
                }
            },
            playSound: function () {
                var self = this;
                if (self.play === true) {
                    self.play = false;
                } else {
                    self.play = true;
                }
            },
            nextTrack: function () {
                var self = this;
                var index = _.findIndex(self.tracks, {active: true});
                self.tracks[index].active = false;
                if (index + 1 >= _.size(self.tracks)) {
                    self.tracks[0].active = true;
                } else {
                    self.tracks[index + 1].active = true;
                }

            },
            prevTrack: function () {
                var self = this;
                var index = _.findIndex(self.tracks, {active: true});
                self.tracks[index].active = false;
                if (index === 0) {
                    self.tracks[_.size(self.tracks) - 1].active = true;
                } else {
                    self.tracks[index - 1].active = true;
                }

            }
        }
    }
</script>